doctype html
html
  head
    title Analizador Descendente Predictivo Recursivo
    link(href='stylesheets/bootstrap.min.css', rel='stylesheet', type='text/css')
    link(href='stylesheets/global.css', rel='stylesheet', type='text/css')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js')
    link(rel='icon', type='image/png', href='./res/javascript_logo.png')
    script(type='text/javascript', src='https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore-min.js')
  body
    block content
